.idea/**
.DS_Store
temp
dist
.sass-cache/**
.editorconfig
.settings
app/components/**
components/**
*.orig
test/json/unit/batch.json~
test/json/unit/#batch.json#
test/json/unit/.#batch.json
node_modules
.tmp
.project
.sass-cache
